.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

/.quarto/
/docs/

# quarto book output
/_book/
# quarto book cache
/_cache/
/_freeze/
# jupyter cache
/.jupyter_cache/
# generated figures
/*_files/
# generated notebooks
*.quarto_ipynb

tmp.gif
*.log
*.aux
*.toc
*.tex
*.synctex.gz

/.venv/


**/*.quarto_ipynb
.positai
.codex
.claude
.httr-oauth
.DS_Store
.quarto
